# Editor configs
.vscode/

# Dependency directories
node_modules
_node_modules

# Coverage directories
coverage

# Compiled code
dist
lib
esm

# Logs
*.log
*debug.log*
logs

# Ignore npm and yarn's lockfiles
package-lock.json
npm-lockfile.json
yarn.lock

# ETC
*.local

# TEMP
pnpm-lock.yaml

