save-exact=true

# peer dependency
auto-install-peers=false
strict-peer-dependencies=true

# cli
loglevel=info
engine-strict=true

# workspace
link-workspace-packages=true
prefer-workspace-packages=false
shared-workspace-lockfile=true

# run
enable-pre-post-scripts=false
shell-emulator=true
