save-exact=true

# npm registries
//npm.pkg.github.com/:_authToken=$NODE_AUTH_TOKEN

# npm scopes
@bya2:registry=https://npm.pkg.github.com

# peer dependency
auto-install-peers=false
strict-peer-dependencies=true

# cli
loglevel=info
engine-strict=true

# workspace
link-workspace-packages=true
prefer-workspace-packages=false
shared-workspace-lockfile=true

# run
enable-pre-post-scripts=false
shell-emulator=true
